.image1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

 div.webpage1 {
    text-align: center;
    
}

.h2:hover {
color: red;
background-color: darkorange;
}

input.name {
    color: palevioletred;
    background-color: blue;
}

div.name{
    background-color:palevioletred;
   
}

.H3 {
    font-weight: 50;
}

.webpage1 {
    font-weight: bolder;
}

div.form1 input:invalid {
    background-color: pink;
}
div.form1 input:valid {
    background-color:#94d2ff;
}

input[type='radio']{
    box-shadow:  0 0 0 3px limegreen;
}

.submit:hover {
color: darkorange;
background-color: green;
}